<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.interview.mapper.CoverLetterMapper">
    <insert id="insertCoverLetter" useGeneratedKeys="true" keyProperty="clno">
        insert into cover_letter (mno, cpno, jno, created_at)
        values (#{mno}, #{cpno}, #{jno}, default);
    </insert>

    <select id="selectById" resultType="com.kb.interview.dto.coverletter.CoverLetter">
        select * from cover_letter where clno = #{clono}
    </select>

    <select id="selectByMemberId" resultType="com.kb.interview.dto.coverletter.CoverLetter">
        select * from cover_letter where mno = #{mno}
    </select>

    <select id="selectQuestionByReport" resultType="com.kb.interview.dto.question.CoverLetterQuestion">
        select * from cover_letter_question where rno = #{rno};
    </select>

    <insert id="insertAnswer" useGeneratedKeys="true" keyProperty="clno">
        insert into cover_letter_answer (clno, cino, answer)
        values (#{clno}, #{cino}, #{answer});
    </insert>

    <insert id="insertQuestion">
        insert into cover_letter_question (clno, rno, number, question_type, question)
        values (#{clno}, #{rno}, #{number}, #{questionType}, #{question})
    </insert>
</mapper>